<p>
  Thanks for signing up to StopScroll.ing
  <br />
  <br />
  Please verify your email address by clicking the link below:
  <br />
  <br />
  <%= link_to "Verify your email address", verify_email_address_url(@token) %>
  <br />
  <br />
  This link will expires after 15 minutes.
</p>
